{
  "openapi": "3.1.0",
  "info": {
    "title": "Datanewton API",
    "description": "API для получения данных по контрагентам (в том числе подбор по фильтрам или подсказки), судебным делам, лизинговым договорам",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.datanewton.ru"
    }
  ],
  "paths": {
    "/v1/vacancies": {
      "post": {
        "tags": [
          "checom-api-service"
        ],
        "summary": "Вакансии контрагента",
        "description": "Получить данные о вакансиях контрагента.\n\nМетод позволяет искать вакансии контрагента по критериям (ключевые слова, регион, активность и т.д.).\n\nИсточники вакансий: hh.ru  и ТрудВсем.\n\nИнтегрируйте API Датаньютон:\n- Мониторьте коммерческую активность компании по количеству и темпу открытия/закрытия вакансий;\n- Оценивайте специфику деятельности компании;\n- Оценивайте кадровый потенциал компании (зарплатные диапазоны, требования к образованию и опыту, условия работы и т.п.);\n- Оценивайте нормы на рынке;\n- Используйте вакансии, как альтернативный канал продаж.\n\nТарификация: 1 запрос = 1 единица лимита.\n",
        "operationId": "49_getVacancies",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API-ключ",
            "required": true,
            "schema": {
              "type": "string",
              "description": "API-ключ"
            },
            "example": "mi76aFMdgvml"
          }
        ],
        "requestBody": {
          "description": "Параметры запроса вакансий.\n\n**Пример запроса**:\n```json\n{\n  \"ogrn\": \"1027700132195\",\n  \"limit\": 10,\n  \"offset\": 0,\n  \"sort\": \"reg_date\",\n  \"order\": \"desc\",\n  \"filter\": {\n    \"only_active\": true,\n    \"source\": \"ALL\",\n    \"text\": \"программист\",\n    \"search_terms\": [\"java\", \"backend\"],\n    \"only_name\": false,\n    \"region_code\": \"77\",\n    \"salary_min\": 100000,\n    \"salary_max\": 300000,\n    \"excluded_text\": \"стажёр\",\n    \"publish_date_from\": \"2025-01-01\",\n    \"publish_date_to\": \"2025-12-31\"\n  }\n}\n```\n",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Полный запрос API вакансий",
                "properties": {
                  "ogrn": {
                    "type": "string",
                    "description": "ОГРН или ОГРНИП (13 или 15 цифр).\n Обязательно для метода Вакансии контрагента (если не указан параметр inn) и опционально для метода Реестр вакансий",
                    "pattern": "^\\d{13,15}$"
                  },
                  "inn": {
                    "type": "string",
                    "description": "ИНН организации или ИП (10 или 12 цифр). \n Обязательно для метода Вакансии контрагента (если не указан параметр inn) и опционально для метода Реестр вакансий)",
                    "pattern": "^\\d{10,12}$"
                  },
                  "limit": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Лимит вакансий в ответе",
                    "example": 10,
                    "maximum": 500,
                    "minimum": 1
                  },
                  "offset": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Смещение для пагинации",
                    "example": 0,
                    "minimum": 0
                  },
                  "sort": {
                    "type": "string",
                    "description": "Поле сортировки:\n- reg_date: сортировка по дате;\n- salary: сортировка по указанной зарплате.\n",
                    "example": "reg_date"
                  },
                  "order": {
                    "type": "string",
                    "description": "Направление сортировки:\n- asc: по возрастанию;\n- desc: по убыванию.\n",
                    "example": "desc"
                  },
                  "filter": {
                    "type": "object",
                    "description": "Параметры фильтрации вакансий",
                    "properties": {
                      "has_vacancies": {
                        "type": "boolean",
                        "description": "Наличие вакансий",
                        "example": true
                      },
                      "only_active": {
                        "type": "boolean",
                        "description": "Вакансия должна быть активной",
                        "example": false
                      },
                      "salary_min": {
                        "type": "number",
                        "format": "double",
                        "description": "Нижняя граница диапазона зарплаты (зарплата от)",
                        "example": 100000,
                        "maximum": 3.4028235e+38,
                        "minimum": 0
                      },
                      "salary_max": {
                        "type": "number",
                        "format": "double",
                        "description": "Верхняя граница диапазона зарплаты (зарплата до)",
                        "example": 150000,
                        "maximum": 3.4028235e+38,
                        "minimum": 0
                      },
                      "text": {
                        "type": "string",
                        "description": "Слово в названии или описании вакансии",
                        "example": "авиаперевозки"
                      },
                      "search_terms": {
                        "type": "array",
                        "description": "Поисковые термины (каждый элемент — отдельное условие ИЛИ) в названии или описании вакансии",
                        "example": [
                          "логистика",
                          "грузоперевозки",
                          "финансовый директор"
                        ],
                        "items": {
                          "type": "string"
                        }
                      },
                      "excluded_text": {
                        "type": "string",
                        "description": "Слово в названии или описании вакансии, которого быть не должно",
                        "example": "водитель"
                      },
                      "only_name": {
                        "type": "boolean",
                        "description": "Искать поисковые слова/термины (или слова исключения) только в названии вакансии (без описания).\n\nДопустимые значения:\n\n- true: применять условия text, search_terms, excluded_text только к названию вакансии;\n\n- false: применять условия text, search_terms, excluded_text и к названию, и к описанию вакансии (по умолчанию)",
                        "example": false
                      },
                      "source": {
                        "type": "string",
                        "description": "Источник вакансий\nДопустимые значения:\n\n- `HH_VACANCIES` - вакансии из hh.ru;\n- `VACANCIES` - вакансии из ТрудВсем;\n- `ALL` - вакансии из всех источников.\n",
                        "enum": [
                          "HH_VACANCIES",
                          "VACANCIES",
                          "ALL"
                        ],
                        "example": "ALL"
                      },
                      "publish_date_from": {
                        "type": "string",
                        "format": "date",
                        "description": "Нижняя граница диапазона даты публикации вакансии (дата публикации от, включительно)",
                        "example": "2025-01-01"
                      },
                      "publish_date_to": {
                        "type": "string",
                        "format": "date",
                        "description": "Верхняя граница диапазона даты публикации вакансии (дата публикации до, включительно)",
                        "example": "2025-12-31"
                      },
                      "region_code": {
                        "type": "string",
                        "description": "Код субъекта РФ",
                        "example": 77
                      },
                      "active_count_from": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Минимальное количество активных вакансий (HH + ТрудВсем)",
                        "example": 5
                      },
                      "active_count_to": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Максимальное количество активных вакансий (HH + ТрудВсем)",
                        "example": 50
                      },
                      "total_count_from": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Минимальное общее количество вакансий (HH + ТрудВсем)",
                        "example": 10
                      },
                      "total_count_to": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Максимальное общее количество вакансий (HH + ТрудВсем)",
                        "example": 100
                      },
                      "hh_active_count_from": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Минимальное количество активных вакансий HH",
                        "example": 3
                      },
                      "hh_active_count_to": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Максимальное количество активных вакансий HH",
                        "example": 30
                      },
                      "hh_total_count_from": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Минимальное общее количество вакансий HH",
                        "example": 5
                      },
                      "hh_total_count_to": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Максимальное общее количество вакансий HH",
                        "example": 50
                      },
                      "trud_active_count_from": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Минимальное количество активных вакансий ТрудВсем",
                        "example": 1
                      },
                      "trud_active_count_to": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Максимальное количество активных вакансий ТрудВсем",
                        "example": 20
                      },
                      "trud_total_count_from": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Минимальное общее количество вакансий ТрудВсем",
                        "example": 2
                      },
                      "trud_total_count_to": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Максимальное общее количество вакансий ТрудВсем",
                        "example": 40
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Список вакансий контрагента",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Ответ API вакансий",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "Список вакансий",
                      "items": {
                        "type": "object",
                        "description": "Сведения о вакансии",
                        "properties": {
                          "vacancy_id": {
                            "type": "string",
                            "description": "Идентификатор вакансии"
                          },
                          "employer_id": {
                            "type": "string",
                            "description": "Идентификатор работодателя"
                          },
                          "ogrn": {
                            "type": "string",
                            "description": "ОГРН работодателя"
                          },
                          "inn": {
                            "type": "string",
                            "description": "ИНН работодателя"
                          },
                          "vacancy_name": {
                            "type": "string",
                            "description": "Название вакансии"
                          },
                          "published_date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Дата публикации вакансии"
                          },
                          "region_name": {
                            "type": "string",
                            "description": "Регион вакансии"
                          },
                          "region_code": {
                            "type": "string",
                            "description": "Код субъекта РФ"
                          },
                          "website": {
                            "type": "string",
                            "description": "Название работного сайта"
                          },
                          "vac_url": {
                            "type": "string",
                            "description": "Ссылка на вакансию"
                          },
                          "academic_degree": {
                            "type": "string",
                            "description": "Требуемая ученая степень"
                          },
                          "accommodation_capability": {
                            "type": "boolean",
                            "description": "Возможность предоставления жилья работодателем"
                          },
                          "accommodation_type": {
                            "type": "string",
                            "description": "Тип предоставляемого работодателем жилья"
                          },
                          "additional_premium": {
                            "type": "string",
                            "description": "Размер премии"
                          },
                          "measure_type": {
                            "type": "string",
                            "description": "Единица измерения премии"
                          },
                          "additional_requirements": {
                            "type": "string",
                            "description": "Дополнительные требования по вакансии"
                          },
                          "bonus_type": {
                            "type": "string",
                            "description": "Премия"
                          },
                          "busy_type": {
                            "type": "string",
                            "description": "Тип занятости"
                          },
                          "career_perspective": {
                            "type": "boolean",
                            "description": "Возможность карьерного роста"
                          },
                          "contact_person": {
                            "type": "string",
                            "description": "ФИО для обращения по вопросам с вакансией"
                          },
                          "education": {
                            "type": "string",
                            "description": "Образование"
                          },
                          "education_speciality": {
                            "type": "string",
                            "description": "Специальность"
                          },
                          "metro_ids": {
                            "type": "string",
                            "description": "Название станции метро"
                          },
                          "need_medcard": {
                            "type": "boolean",
                            "description": "Необходимость медкнижки"
                          },
                          "original_source_type": {
                            "type": "string",
                            "description": "Первоначальный источник сущности"
                          },
                          "other_vacancy_benefit": {
                            "type": "string",
                            "description": "Дополнительные бонусы"
                          },
                          "position_requirements": {
                            "type": "string",
                            "description": "Требования к кандидату"
                          },
                          "position_responsibilities": {
                            "type": "string",
                            "description": "Должностные обязанности"
                          },
                          "publication_period": {
                            "type": "string",
                            "description": "Даты начала и окончания актуальности вакансии"
                          },
                          "required_certificates": {
                            "type": "string",
                            "description": "Требуемые сертификаты"
                          },
                          "required_drive_license": {
                            "type": "string",
                            "description": "Требуемые водительские удостоверения"
                          },
                          "required_experience": {
                            "type": "string",
                            "description": "Требуемый опыт, в годах"
                          },
                          "retraining_capability": {
                            "type": "boolean",
                            "description": "Возможность переобучения"
                          },
                          "retraining_grant": {
                            "type": "string",
                            "description": "Наличие стипендии во время переобучения"
                          },
                          "retraining_grant_value": {
                            "type": "string",
                            "description": "Оплата на время переобучения"
                          },
                          "salary": {
                            "type": "string",
                            "description": "Заработная плата"
                          },
                          "salary_min": {
                            "type": "string",
                            "description": "Минимальный размер заработной платы"
                          },
                          "salary_max": {
                            "type": "string",
                            "description": "Максимальный размер заработной платы"
                          },
                          "schedule_type": {
                            "type": "string",
                            "description": "График работы"
                          },
                          "social_protected_ids": {
                            "type": "string",
                            "description": "Группа социальной защищенности"
                          },
                          "source_type": {
                            "type": "string",
                            "description": "Тип источника вакансии"
                          },
                          "transport_compensation": {
                            "type": "string",
                            "description": "Компенсация транспортных расходов"
                          },
                          "vacancy_address_additional_info": {
                            "type": "string",
                            "description": "Дополнительная адресная информация"
                          },
                          "vacancy_address": {
                            "type": "string",
                            "description": "Адрес места работы"
                          },
                          "vacancy_address_house": {
                            "type": "string",
                            "description": "Адрес, дом"
                          },
                          "vacancy_address_latitude": {
                            "type": "string",
                            "description": "Географические координаты адреса, ширина"
                          },
                          "vacancy_address_longitude": {
                            "type": "string",
                            "description": "Географические координаты адреса, долгота"
                          },
                          "vacancy_benefit_ids": {
                            "type": "string",
                            "description": "Список доп. преимуществ"
                          },
                          "work_places": {
                            "type": "string",
                            "description": "Количество требуемых работников"
                          },
                          "federal_district_code": {
                            "type": "string",
                            "description": "Код федерального округа"
                          },
                          "industry_branch_name": {
                            "type": "string",
                            "description": "Название отрасли"
                          },
                          "contact_info": {
                            "type": "array",
                            "description": "Контактная информация (структурированная)",
                            "items": {
                              "type": "object",
                              "description": "Контактная информация",
                              "properties": {
                                "contact_type": {
                                  "type": "string",
                                  "description": "Tип контактной информации"
                                },
                                "contact_value": {
                                  "type": "string",
                                  "description": "Контактная информация"
                                }
                              }
                            }
                          },
                          "contact_info_formatted": {
                            "type": "string",
                            "description": "Контактная информация (форматированная строка)",
                            "example": "Телефон: +7(495) 306-33-16; Эл. почта: email@example.com"
                          },
                          "language_knowledge": {
                            "type": "object",
                            "description": "Данные по владению языков",
                            "properties": {
                              "code_language": {
                                "type": "string",
                                "description": "Название языка"
                              },
                              "level": {
                                "type": "string",
                                "description": "Уровень владения языком"
                              }
                            }
                          },
                          "soft_skills": {
                            "type": "array",
                            "description": "Описание требуемых softskills",
                            "items": {
                              "type": "string"
                            }
                          },
                          "hard_skills": {
                            "type": "array",
                            "description": "Описание требуемых hardskills",
                            "items": {
                              "type": "string"
                            }
                          },
                          "company_info": {
                            "type": "string",
                            "description": "Визитка компании (о компании)"
                          },
                          "link_to_image": {
                            "type": "string",
                            "description": "Ссылка на логотип"
                          },
                          "deleted": {
                            "type": "boolean",
                            "description": "Вакансия активна"
                          },
                          "company_data": {
                            "type": "object",
                            "properties": {
                              "inn": {
                                "type": "string"
                              },
                              "ogrn": {
                                "type": "string"
                              },
                              "shortName": {
                                "type": "string"
                              },
                              "fullName": {
                                "type": "string"
                              },
                              "status": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "establishmentDate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "dateEnd": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "matchedQueries": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "type": {
                                "type": "string"
                              },
                              "charterCapital": {
                                "type": "string"
                              },
                              "regionCode": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "active": {
                                "type": "boolean"
                              }
                            },
                            "description": "Данные о компании-работодателе из основного индекса контрагентов"
                          },
                          "employer": {
                            "type": "object",
                            "description": "Информация о работодателе",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Название работодателя"
                              },
                              "site": {
                                "type": "string",
                                "description": "Сайт работодателя"
                              },
                              "description": {
                                "type": "string",
                                "description": "Описание работодателя"
                              },
                              "type": {
                                "type": "string",
                                "description": "Тип работодателя (direct_employer, agency и т.д.)"
                              },
                              "logo": {
                                "type": "string",
                                "description": "URL логотипа"
                              },
                              "industries": {
                                "type": "array",
                                "description": "Отрасли",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "hh_employer_id": {
                                "type": "string",
                                "description": "Уникальный идентификатор работодателя на hh.ru"
                              },
                              "hh_employer_url": {
                                "type": "string",
                                "description": "Ссылка на карточку работодателя на hh.ru"
                              },
                              "trud_employer_id": {
                                "type": "string",
                                "description": "Уникальный идентификатор работодателя на trudvsem.ru"
                              },
                              "trud_employer_url": {
                                "type": "string",
                                "description": "Ссылка на карточку работодателя на trudvsem.ru"
                              }
                            }
                          },
                          "match": {
                            "type": "object",
                            "description": "Информация о совпадениях при текстовом поиске",
                            "properties": {
                              "match_name": {
                                "type": "string",
                                "description": "Совпадение в названии вакансии"
                              },
                              "match_dsc": {
                                "type": "string",
                                "description": "Совпадение в описании вакансии"
                              },
                              "match_employer_name": {
                                "type": "string",
                                "description": "Совпадение в названии работодателя"
                              },
                              "match_site": {
                                "type": "string",
                                "description": "Совпадение в сайте работодателя"
                              },
                              "match_industries": {
                                "type": "string",
                                "description": "Совпадение в отраслях работодателя"
                              },
                              "match_employer_id": {
                                "type": "string",
                                "description": "Совпадение по ID работодателя"
                              },
                              "match_vacancy_id": {
                                "type": "string",
                                "description": "Совпадение по ID вакансии"
                              },
                              "match_inn": {
                                "type": "string",
                                "description": "Совпадение по ИНН"
                              },
                              "match_ogrn": {
                                "type": "string",
                                "description": "Совпадение по ОГРН"
                              }
                            }
                          },
                          "quoted": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Лимит запрошенных вакансий"
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Смещение для пагинации"
                    },
                    "total_vacancies": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Общее количество вакансий, подходящих под заданные критерии"
                    },
                    "areas": {
                      "type": "array",
                      "description": "Статистика по регионам",
                      "items": {
                        "type": "object",
                        "description": "Регион вакансий",
                        "properties": {
                          "region_code": {
                            "type": "string",
                            "description": "Код субъекта РФ"
                          },
                          "name": {
                            "type": "string",
                            "description": "Наименование региона"
                          },
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Количество вакансий"
                          },
                          "active_count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Количество действующих вакансий"
                          },
                          "non_active_count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Количество недействующих вакансий"
                          }
                        }
                      }
                    },
                    "source_stat": {
                      "type": "object",
                      "description": "Статистика по источнику (hh/trudvsem)",
                      "properties": {
                        "hh_count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Количество вакансий с hh.ru"
                        },
                        "trud_count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Количество вакансий с trudvsem.ru"
                        }
                      }
                    },
                    "activity_stat": {
                      "type": "object",
                      "description": "Статистика по активности (active/archived)",
                      "properties": {
                        "active_count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Количество действующих вакансий"
                        },
                        "archived_count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Количество архивных вакансий"
                        }
                      }
                    },
                    "employer_info": {
                      "type": "object",
                      "description": "Сводная информация о работодателе (для API с конкретной компанией)",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Название работодателя"
                        },
                        "site": {
                          "type": "string",
                          "description": "Сайт работодателя"
                        },
                        "description": {
                          "type": "string",
                          "description": "Описание работодателя"
                        },
                        "type": {
                          "type": "string",
                          "description": "Тип работодателя (direct_employer, agency и т.д.)"
                        },
                        "logo": {
                          "type": "string",
                          "description": "URL логотипа"
                        },
                        "industries": {
                          "type": "array",
                          "description": "Отрасли",
                          "items": {
                            "type": "string"
                          }
                        },
                        "hh_employer_id": {
                          "type": "string",
                          "description": "Уникальный идентификатор работодателя на hh.ru"
                        },
                        "hh_employer_url": {
                          "type": "string",
                          "description": "Ссылка на карточку работодателя на hh.ru"
                        },
                        "trud_employer_id": {
                          "type": "string",
                          "description": "Уникальный идентификатор работодателя на trudvsem.ru"
                        },
                        "trud_employer_url": {
                          "type": "string",
                          "description": "Ссылка на карточку работодателя на trudvsem.ru"
                        }
                      }
                    },
                    "available_count": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Количество доступных запросов"
                    },
                    "demo_available_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Количество доступных демо запросов"
                    },
                    "free_companies_available_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Количество компаний, доступных по безлимитному тарифу"
                    },
                    "error": {
                      "type": "object",
                      "description": "Исключительная ситуация",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Код ошибки. Например: 1 - контрагент по заданным параметрам не найден"
                        },
                        "message": {
                          "type": "string",
                          "description": "Описание"
                        },
                        "source": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string"
                          },
                          "description": "Параметры - входные данные, вызвавшие исключительную ситуацию"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Ошибка валидации параметров",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Исключительная ситуация",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Код ошибки. Например: 1 - контрагент по заданным параметрам не найден"
                    },
                    "message": {
                      "type": "string",
                      "description": "Описание"
                    },
                    "source": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Параметры - входные данные, вызвавшие исключительную ситуацию"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Неверный API-ключ",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Исключительная ситуация",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Код ошибки. Например: 1 - контрагент по заданным параметрам не найден"
                    },
                    "message": {
                      "type": "string",
                      "description": "Описание"
                    },
                    "source": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Параметры - входные данные, вызвавшие исключительную ситуацию"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Нет доступа к функционалу",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Исключительная ситуация",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Код ошибки. Например: 1 - контрагент по заданным параметрам не найден"
                    },
                    "message": {
                      "type": "string",
                      "description": "Описание"
                    },
                    "source": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Параметры - входные данные, вызвавшие исключительную ситуацию"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Исключительная ситуация",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Код ошибки. Например: 1 - контрагент по заданным параметрам не найден"
                    },
                    "message": {
                      "type": "string",
                      "description": "Описание"
                    },
                    "source": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Параметры - входные данные, вызвавшие исключительную ситуацию"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/taxpayerStatuses": {
      "post": {
        "tags": [
          "finance-api-service"
        ],
        "summary": "Самозанятость",
        "description": "Получить данные о статусе самозанятого налогоплательщика по ИНН\n",
        "operationId": "6_getTaxpayerStatuses",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API-ключ.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "API-ключ"
            },
            "example": "mi76aFMdgvml"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Запрос на получения статуса самозанятых",
                "properties": {
                  "inns": {
                    "type": "array",
                    "description": "Список ИНН",
                    "example": [
                      "504792738521",
                      "027901030214",
                      "771573295381"
                    ],
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Информация по статусу самозанятого налогоплательщика",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Статусы самозанятых",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "Статусы самозанятых",
                      "items": {
                        "type": "object",
                        "description": "Статус самозанятого налогоплательщика",
                        "properties": {
                          "inn": {
                            "type": "string",
                            "description": "ИНН"
                          },
                          "status_date": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Дата статуса самозанятого"
                          },
                          "taxpayer": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "available_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Количество доступных запросов"
                    },
                    "demo_available_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Количество доступных демо запросов"
                    },
                    "free_companies_available_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Количество компаний, доступных по безлимитному тарифу"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Исключительная ситуация",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Код ошибки. Например: 1 - контрагент по заданным параметрам не найден"
                    },
                    "message": {
                      "type": "string",
                      "description": "Описание"
                    },
                    "source": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Параметры - входные данные, вызвавшие исключительную ситуацию"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/suggestions": {
      "post": {
        "tags": [
          "batch-api-service"
        ],
        "summary": "Подсказки",
        "description": "Получить список первых 10 подходящих контрагентов, соответствующих входному значению \n\nПоддерживаются следующие виды поиска: \n - `ОГРН` \n - `ИНН` \n - `Название ЮЛ/ИП, в том числе неполное наименование (например, \"Датаном\" вместо \"Датаномика\")` \n - `Транслитерированное название ЮЛ` \n - `Название ЮЛ, написанное в неправильной раскладке клавиатуры` \n - `Неточное название ЮЛ/ИП (с опечатками)`",
        "operationId": "21_getSuggestions",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API-ключ.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "API-ключ"
            },
            "example": "mi76aFMdgvml"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Запрос для получения контрагентов, соответствующих запросу (подсказки)",
                "properties": {
                  "search_query": {
                    "type": "string",
                    "description": "Поисковое значение (ОГРН/ИНН/наименование)",
                    "example": "Датаном"
                  },
                  "type": {
                    "type": "string",
                    "default": "all",
                    "description": "Тип: ЮЛ/ИП. Возможные значения: ul - ЮЛ, ip - ИП, all - все",
                    "enum": [
                      "ul",
                      "ip",
                      "fl",
                      "rafp",
                      "all"
                    ],
                    "example": "ul"
                  },
                  "is_active": {
                    "type": "boolean",
                    "description": "Признак, позволяющий искать только среди действующих контрагентов"
                  }
                },
                "required": [
                  "search_query"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Список подходящих контрагентов",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Ответ в подсказках с набором подходящих запросу контрагентов",
                  "properties": {
                    "count": {
                      "type": "object",
                      "properties": {
                        "ul": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Общее количество ЮЛ, подходящих под критерии поиска"
                        },
                        "ip": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Общее количество ИП, подходящих под критерии поиска"
                        },
                        "rafp": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Общее количество РАФП, подходящих под критерии поиска"
                        },
                        "total": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Общее количество контрагентов, подходящих под критерии поиска"
                        }
                      },
                      "description": "Общее количество контрагентов"
                    },
                    "data": {
                      "type": "array",
                      "description": "Базовая информация о контрагентах",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "ID для запроса (ОГРН для ЮЛ и ИП, НЗА для РАФП)"
                          },
                          "ogrn": {
                            "type": "string",
                            "description": "ОГРН контрагента"
                          },
                          "inn": {
                            "type": "string",
                            "description": "ИНН контрагента"
                          },
                          "charter_capital": {
                            "type": "string",
                            "description": "Уставный капитал"
                          },
                          "establishment_date": {
                            "type": "string",
                            "description": "Дата регистрации"
                          },
                          "active": {
                            "type": "boolean",
                            "description": "Признак активности контрагента (действующий/недействующий)"
                          },
                          "name": {
                            "type": "string",
                            "description": "Наименование контрагента (краткое, при его отсутствии - полное)"
                          },
                          "activity_kind": {
                            "type": "string",
                            "description": "Основной ОКВЭД"
                          },
                          "activity_kind_dsc": {
                            "type": "string",
                            "description": "Описание основного вида деятельности"
                          },
                          "activity_kind_industry_code": {
                            "type": "string",
                            "description": "Код основного вида деятельности"
                          },
                          "activity_kind_mode": {
                            "type": "string",
                            "description": "Тип основного ОКВЭД (new/old): new - после изменений 2014 года, old - до него"
                          },
                          "type": {
                            "type": "string",
                            "description": "Тип: ul - ЮЛ, ip - ИП, rafp - РАФП"
                          },
                          "address": {
                            "type": "string",
                            "description": "Адрес"
                          },
                          "region": {
                            "type": "string",
                            "description": "Регион"
                          },
                          "region_code": {
                            "type": "string",
                            "description": "Регион (код)"
                          },
                          "manager_name": {
                            "type": "string",
                            "description": "Руководитель"
                          },
                          "manager_position": {
                            "type": "string",
                            "description": "Должность руководителя"
                          },
                          "last_income": {
                            "type": "number",
                            "format": "double",
                            "description": "Выручка за последний отчетный год (в тыс. рублей)"
                          },
                          "fin_report_year": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Последний год сданной отчетности БФО"
                          },
                          "enable_email_notification": {
                            "type": "boolean",
                            "description": "Присылать уведомления на почту"
                          },
                          "groups": {
                            "type": "object",
                            "properties": {
                              "holding": {
                                "type": "object",
                                "properties": {
                                  "ogrn": {
                                    "type": "string",
                                    "description": "ОГРН"
                                  },
                                  "share": {
                                    "type": "object",
                                    "description": "Процент доли владения",
                                    "example": 12345.67,
                                    "oneOf": [
                                      {
                                        "type": "number",
                                        "format": "double"
                                      },
                                      {
                                        "type": "string"
                                      }
                                    ]
                                  },
                                  "size": {
                                    "type": "object",
                                    "description": "Количество контрагентов в группе",
                                    "example": 42,
                                    "oneOf": [
                                      {
                                        "type": "integer",
                                        "format": "int32"
                                      },
                                      {
                                        "type": "string"
                                      }
                                    ]
                                  }
                                },
                                "description": "Холдинг/Метагруппа/Связи (доля владения в холдинге > 50%, в метагруппе и связях >= 25%)"
                              },
                              "metagroup": {
                                "type": "object",
                                "properties": {
                                  "ogrn": {
                                    "type": "string",
                                    "description": "ОГРН"
                                  },
                                  "share": {
                                    "type": "object",
                                    "description": "Процент доли владения",
                                    "example": 12345.67,
                                    "oneOf": [
                                      {
                                        "type": "number",
                                        "format": "double"
                                      },
                                      {
                                        "type": "string"
                                      }
                                    ]
                                  },
                                  "size": {
                                    "type": "object",
                                    "description": "Количество контрагентов в группе",
                                    "example": 42,
                                    "oneOf": [
                                      {
                                        "type": "integer",
                                        "format": "int32"
                                      },
                                      {
                                        "type": "string"
                                      }
                                    ]
                                  }
                                },
                                "description": "Холдинг/Метагруппа/Связи (доля владения в холдинге > 50%, в метагруппе и связях >= 25%)"
                              },
                              "holding_by_active": {
                                "type": "object",
                                "properties": {
                                  "ogrn": {
                                    "type": "string",
                                    "description": "ОГРН"
                                  },
                                  "share": {
                                    "type": "object",
                                    "description": "Процент доли владения",
                                    "example": 12345.67,
                                    "oneOf": [
                                      {
                                        "type": "number",
                                        "format": "double"
                                      },
                                      {
                                        "type": "string"
                                      }
                                    ]
                                  },
                                  "size": {
                                    "type": "object",
                                    "description": "Количество контрагентов в группе",
                                    "example": 42,
                                    "oneOf": [
                                      {
                                        "type": "integer",
                                        "format": "int32"
                                      },
                                      {
                                        "type": "string"
                                      }
                                    ]
                                  }
                                },
                                "description": "Холдинг/Метагруппа/Связи (связь по действующим контрагентам)"
                              },
                              "metagroup_by_active": {
                                "type": "object",
                                "properties": {
                                  "ogrn": {
                                    "type": "string",
                                    "description": "ОГРН"
                                  },
                                  "share": {
                                    "type": "object",
                                    "description": "Процент доли владения",
                                    "example": 12345.67,
                                    "oneOf": [
                                      {
                                        "type": "number",
                                        "format": "double"
                                      },
                                      {
                                        "type": "string"
                                      }
                                    ]
                                  },
                                  "size": {
                                    "type": "object",
                                    "description": "Количество контрагентов в группе",
                                    "example": 42,
                                    "oneOf": [
                                      {
                                        "type": "integer",
                                        "format": "int32"
                                      },
                                      {
                                        "type": "string"
                                      }
                                    ]
                                  }
                                },
                                "description": "Холдинг/Метагруппа/Связи (связь по действующим контрагентам)"
                              },
                              "network": {
                                "type": "object",
                                "properties": {
                                  "ogrn": {
                                    "type": "string",
                                    "description": "ОГРН"
                                  },
                                  "share": {
                                    "type": "object",
                                    "description": "Процент доли владения",
                                    "example": 12345.67,
                                    "oneOf": [
                                      {
                                        "type": "number",
                                        "format": "double"
                                      },
                                      {
                                        "type": "string"
                                      }
                                    ]
                                  },
                                  "size": {
                                    "type": "object",
                                    "description": "Количество контрагентов в группе",
                                    "example": 42,
                                    "oneOf": [
                                      {
                                        "type": "integer",
                                        "format": "int32"
                                      },
                                      {
                                        "type": "string"
                                      }
                                    ]
                                  }
                                },
                                "description": "Холдинг/Метагруппа/Связи (доля владения в холдинге > 50%, в метагруппе и связях >= 25%)"
                              },
                              "network_by_active": {
                                "type": "object",
                                "properties": {
                                  "ogrn": {
                                    "type": "string",
                                    "description": "ОГРН"
                                  },
                                  "share": {
                                    "type": "object",
                                    "description": "Процент доли владения",
                                    "example": 12345.67,
                                    "oneOf": [
                                      {
                                        "type": "number",
                                        "format": "double"
                                      },
                                      {
                                        "type": "string"
                                      }
                                    ]
                                  },
                                  "size": {
                                    "type": "object",
                                    "description": "Количество контрагентов в группе",
                                    "example": 42,
                                    "oneOf": [
                                      {
                                        "type": "integer",
                                        "format": "int32"
                                      },
                                      {
                                        "type": "string"
                                      }
                                    ]
                                  }
                                },
                                "description": "Холдинг/Метагруппа/Связи (связь по действующим контрагентам)"
                              }
                            },
                            "description": "Информация о вхождении в холдинг"
                          },
                          "match": {
                            "type": "string",
                            "description": "Что совпало в поиске (значение)"
                          },
                          "match_actual": {
                            "type": "boolean",
                            "description": "Совпадение по актуальным данным или историческим (например, бывшим руководителям)"
                          },
                          "match_dsc": {
                            "type": "string",
                            "description": "Тип/описание совпадения - что именно совпало (какое поле/домен)"
                          }
                        }
                      }
                    },
                    "available_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Количество доступных запросов"
                    },
                    "demo_available_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Количество доступных демо запросов"
                    },
                    "free_companies_available_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Количество компаний, доступных по безлимитному тарифу"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Исключительная ситуация",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Код ошибки. Например: 1 - контрагент по заданным параметрам не найден"
                    },
                    "message": {
                      "type": "string",
                      "description": "Описание"
                    },
                    "source": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Параметры - входные данные, вызвавшие исключительную ситуацию"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/segment": {
      "get": {
        "tags": [
          "segment-api-service"
        ],
        "summary": "Список сегментов",
        "description": "Возвращает все сегменты текущего пользователя, включая название, описание, цвет, тип (STATIC / FILTER_BASED) и количество контрагентов в каждом сегменте.",
        "operationId": "35_getSegments",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API-ключ для авторизации",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "mi76aFMdgvml"
          }
        ],
        "responses": {
          "200": {
            "description": "Массив сегментов пользователя",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tags": {
                      "type": "array",
                      "description": "Набор сегментов пользователя",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "name": {
                            "type": "string",
                            "description": "Название сегмента"
                          },
                          "details": {
                            "type": "string",
                            "description": "Описание/комментарий"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Дата создания"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Дата обновления"
                          },
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Количество контрагентов в сегменте"
                          },
                          "order_num": {
                            "type": "integer",
                            "format": "int32",
                            "description": "порядковый номер"
                          },
                          "reserved": {
                            "type": "boolean",
                            "description": "Признак того, что сегмент зарезервирован и не может быть удален/переименован"
                          },
                          "color": {
                            "type": "string",
                            "description": "Цвет сегмента"
                          },
                          "tag_type": {
                            "type": "string",
                            "description": "Тип сегмента: static, filter_based",
                            "enum": [
                              "static",
                              "filter_based"
                            ]
                          },
                          "filter_config": {
                            "type": "string",
                            "description": "JSON конфигурация фильтра (для filter_based сегментов)"
                          },
                          "last_materialized_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Дата последней материализации"
                          },
                          "materialization_status": {
                            "type": "string",
                            "description": "Статус материализации: not_started, in_progress, completed, failed",
                            "enum": [
                              "NOT_STARTED",
                              "IN_PROGRESS",
                              "COMPLETED",
                              "FAILED"
                            ]
                          },
                          "materialized_count": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Количество обработанных записей при материализации"
                          },
                          "search_after_cursor": {
                            "type": "string",
                            "description": "Курсор для продолжения материализации (search_after)"
                          },
                          "total_count_estimate": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Оценочное общее количество записей"
                          },
                          "auto_refresh": {
                            "type": "boolean",
                            "description": "Автоматически обновлять сегмент"
                          },
                          "refresh_schedule": {
                            "type": "string",
                            "description": "Расписание обновления: daily, weekly, monthly",
                            "enum": [
                              "DAILY",
                              "WEEKLY",
                              "MONTHLY"
                            ]
                          },
                          "static": {
                            "type": "boolean"
                          },
                          "filter_based": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Отсутствует полномочие GET_USER_TAGS_API или неверный API-ключ",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "409": {
            "description": "Ошибка выполнения запроса",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Исключительная ситуация",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Код ошибки. Например: 1 - контрагент по заданным параметрам не найден"
                    },
                    "message": {
                      "type": "string",
                      "description": "Описание"
                    },
                    "source": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Параметры - входные данные, вызвавшие исключительную ситуацию"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "segment-api-service"
        ],
        "summary": "Создать сегмент",
        "description": "Создает новый сегмент контрагентов. Поддерживаются два типа: STATIC — ручное добавление контрагентов по ОГРН/ИНН; FILTER_BASED — автоматический сегмент на основе конфигурации фильтра (поле filter_config). Для STATIC сегментов можно сразу передать список контрагентов в поле ogrns_or_inns (до 5 000 ОГРН/ИНН) и/или загрузить файл с идентификаторами (поля file и file_name). Файл может быть в формате Excel (.xlsx) или текстовый — идентификаторы извлекаются автоматически. Название сегмента должно быть уникальным в рамках пользователя. При попытке создать дубликат возвращается ошибка 409 с ID существующего сегмента.",
        "operationId": "37_createSegment",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API-ключ для авторизации",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "mi76aFMdgvml"
          }
        ],
        "requestBody": {
          "description": "Параметры нового сегмента: name (обязательно), details, color, segment_type (STATIC или FILTER_BASED), filter_config (JSON-конфигурация фильтра для FILTER_BASED), ogrns_or_inns (список ОГРН/ИНН для STATIC, макс. 5 000), file (Base64 файла с ОГРН/ИНН), file_name (имя файла для определения формата)",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Название сегмента",
                    "example": "Клиенты"
                  },
                  "details": {
                    "type": "string",
                    "description": "Описание/комментарий",
                    "example": "Основные клиенты компании"
                  },
                  "color": {
                    "type": "string",
                    "description": "Цвет сегмента",
                    "example": "#FF5733"
                  },
                  "tag_type": {
                    "type": "string",
                    "description": "Тип сегмента: STATIC (ручное управление), FILTER_BASED (на основе фильтра)",
                    "enum": [
                      "static",
                      "filter_based"
                    ],
                    "example": "STATIC"
                  },
                  "ogrns_or_inns": {
                    "type": "array",
                    "description": "Список ОГРН и/или ИНН для добавления в сегмент при создании (только для STATIC сегментов, макс. 5 000)",
                    "example": [
                      "1207700223257",
                      "7707083893"
                    ],
                    "items": {
                      "type": "string"
                    }
                  },
                  "file": {
                    "type": "string",
                    "description": "Файл с ОГРН/ИНН, закодированный в Base64. Поддерживаются форматы: Excel (.xlsx) и текстовые файлы (с автоопределением кодировки). Идентификаторы извлекаются автоматически. При наличии ogrns_or_inns — списки объединяются. Конвертация в Base64: Linux/Mac: base64 -i file.xlsx | tr -d '\\n', Windows PowerShell: [Convert]::ToBase64String([IO.File]::ReadAllBytes('file.xlsx'))",
                    "example": "UEsDBBQAAAAIAM..."
                  },
                  "file_name": {
                    "type": "string",
                    "description": "Имя файла (обязательно при передаче file). Используется для определения формата: .xlsx для Excel, иначе текст.",
                    "example": "companies.xlsx"
                  },
                  "filter_config": {
                    "type": "string",
                    "description": "JSON конфигурация фильтра (для FILTER_BASED сегментов)",
                    "example": {
                      "region_codes": [
                        "77"
                      ],
                      "only_active": true
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Сегмент создан. Возвращается объект с полем id — идентификатор нового сегмента",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Отсутствует полномочие GET_USER_TAGS_API или неверный API-ключ",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "409": {
            "description": "Сегмент с таким именем уже существует, или ошибка валидации",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Исключительная ситуация",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Код ошибки. Например: 1 - контрагент по заданным параметрам не найден"
                    },
                    "message": {
                      "type": "string",
                      "description": "Описание"
                    },
                    "source": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Параметры - входные данные, вызвавшие исключительную ситуацию"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "segment-api-service"
        ],
        "summary": "Изменить порядок сегментов",
        "description": "Устанавливает порядок отображения сегментов. В теле запроса передается массив ID сегментов в желаемом порядке. Все существующие сегменты пользователя должны быть перечислены.",
        "operationId": "38_reorderSegments",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "API-ключ для авторизации",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "mi76aFMdgvml"
          }
        ],
        "requestBody": {
          "description": "Массив ID сегментов в желаемом порядке",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "example": [
                  3,
                  1,
                  2
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Порядок сегментов обновлен",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Результат выполнения операции",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Статус операции",
                      "example": "OK"
                    },
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "description": "ID объекта (сегмента, сессии экспорта и т.д.)",
                      "example": 123
                    },
                    "added_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Количество добавленных записей (для операций добавления контрагентов)",
                      "example": 5
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Отсутствует полномочие GET_USER_TAGS_API или неверный API-ключ",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "409": {
            "description": "Ошибка выполнения запроса",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Исключительная ситуация",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Код ошибки. Например: 1 - контрагент по заданным параметрам не найден"
                    },
                    "message": {
                      "type": "string",
                      "description": "Описание"
                    },
                    "source": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Параметры - входные данные, вызвавшие исключительную ситуацию"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/segment/{id}/export": {
      "get": {
        "tags": [
          "segment-api-service"
        ],
        "summary": "Статус экспорта сегмента",
        "description": "Возвращает текущее состояние сессии экспорта для указанного сегмента: статус (IN_PROGRESS, COMPLETED, CANCELLED), общее количество контрагентов, количество уже выгруженных и процент прогресса.",
        "operationId": "46_getSegmentExportSession",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID сегмента",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 123
          },
          {
            "name": "key",
            "in": "query",
            "description": "API-ключ для авторизации",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "mi76aFMdgvml"
          }
        ],
        "responses": {
          "200": {
            "description": "Текущая сессия экспорта",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "session_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": "ID сессии"
                    },
                    "user_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": "ID пользователя"
                    },
                    "tag_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": "ID сегмента"
                    },
                    "total_count": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Общее количество записей для экспорта"
                    },
                    "exported_count": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Количество уже выгруженных записей"
                    },
                    "last_offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Последний offset для продолжения выгрузки"
                    },
                    "status": {
                      "type": "string",
                      "description": "Статус экспорта",
                      "enum": [
                        "in_progress",
                        "completed",
                        "cancelled",
                        "failed"
                      ]
                    },
                    "export_format": {
                      "type": "string",
                      "description": "Формат экспорта",
                      "enum": [
                        "excel",
                        "csv",
                        "json"
                      ]
                    },
                    "file_path": {
                      "type": "string",
                      "description": "Путь к файлу экспорта"
                    },
                    "error_message": {
                      "type": "string",
                      "description": "Сообщение об ошибке"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Дата создания"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Дата обновления"
                    },
                    "completed": {
                      "type": "boolean"
                    },
                    "progress_percent": {
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Отсутствует полномочие GET_USER_TAGS_API или неверный API-ключ",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "409": {
            "description": "Активная сессия экспорта не найдена",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Исключительная ситуация",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Код ошибки. Например: 1 - контрагент по заданным параметрам не найден"
                    },
                    "message": {
                      "type": "string",
                      "description": "Описание"
                    },
                    "source": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Параметры - входные данные, вызвавшие исключительную ситуацию"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "segment-api-service"
        ],
        "summary": "Начать экспорт данных сегмента",
        "description": "Инициирует асинхронный экспорт данных контрагентов из сегмента. Возвращает объект сессии экспорта с идентификатором session_id, который используется для получения порций данных через GET .../export/batch. Если экспорт уже был запущен ранее и не завершен, возвращается существующая сессия (используйте force_new = true для принудительного перезапуска).",
        "operationId": "45_startSegmentExport",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID сегмента для экспорта",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 123
          },
          {
            "name": "key",
            "in": "query",
            "description": "API-ключ для авторизации",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "mi76aFMdgvml"
          }
        ],
        "requestBody": {
          "description": "Параметры экспорта (необязательно): format — формат данных, force_new — принудительно создать новую сессию",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "format": {
                    "type": "string",
                    "description": "Формат экспорта (excel, csv, json)",
                    "enum": [
                      "excel",
                      "csv",
                      "json"
                    ],
                    "example": "json"
                  },
                  "force_new": {
                    "type": "boolean",
                    "description": "Принудительно начать новый экспорт (сбросить предыдущий)",
                    "example": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Сессия экспорта создана или возвращена существующая",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "session_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": "ID сессии"
                    },
                    "user_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": "ID пользователя"
                    },
                    "tag_id": {
                      "type": "integer",
                      "format": "int64",
                      "description": "ID сегмента"
                    },
                    "total_count": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Общее количество записей для экспорта"
                    },
                    "exported_count": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Количество уже выгруженных записей"
                    },
                    "last_offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Последний offset для продолжения выгрузки"
                    },
                    "status": {
                      "type": "string",
                      "description": "Статус экспорта",
                      "enum": [
                        "in_progress",
                        "completed",
                        "cancelled",
                        "failed"
                      ]
                    },
                    "export_format": {
                      "type": "string",
                      "description": "Формат экспорта",
                      "enum": [
                        "excel",
                        "csv",
                        "json"
                      ]
                    },
                    "file_path": {
                      "type": "string",
                      "description": "Путь к файлу экспорта"
                    },
                    "error_message": {
                      "type": "string",
                      "description": "Сообщение об ошибке"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Дата создания"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Дата обновления"
                    },
                    "completed": {
                      "type": "boolean"
                    },
                    "progress_percent": {
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Отсутствует полномочие GET_USER_TAGS_API или неверный API-ключ",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "409": {
            "description": "Сегмент не найден или ошибка выполнения",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Исключительная ситуация",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
[...]
